<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Quick Summary View</h2>
            </div>
        </div>
        <hr>

        <div class="row">
            <!------------ Table1 template ------------>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h3>SGP Inventory</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Total Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>00LP777</td>
                                <td>100</td>
                            </tr>
                            <tr class="info">
                                <td>00LP999</td>
                                <td>44</td>
                            </tr>
                            <tr class="warning">
                                <td>44LP444</td>
                                <td>50</td>
                            </tr>
                            <tr class="danger">
                                <td>12LP123</td>
                                <td>999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------ Table1 template end ------------>

            <!------------ Table2 template ------------>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h3>USA Inventory</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Total Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>00LP777</td>
                                <td>100</td>
                            </tr>
                            <tr class="info">
                                <td>00LP999</td>
                                <td>44</td>
                            </tr>
                            <tr class="warning">
                                <td>44LP444</td>
                                <td>50</td>
                            </tr>
                            <tr class="danger">
                                <td>12LP123</td>
                                <td>999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------ Table2 template end ------------>

            <!------------ Table3 template ------------>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h3>GDL Inventory</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Total Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>00LP777</td>
                                <td>100</td>
                            </tr>
                            <tr class="info">
                                <td>00LP999</td>
                                <td>44</td>
                            </tr>
                            <tr class="warning">
                                <td>44LP444</td>
                                <td>50</td>
                            </tr>
                            <tr class="danger">
                                <td>12LP123</td>
                                <td>999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------ Table3 template end ------------>

            <!------------ Table4 template ------------>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <h3>VAC Inventory</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Part Number</th>
                                <th>Total Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>00LP777</td>
                                <td>100</td>
                            </tr>
                            <tr class="info">
                                <td>00LP999</td>
                                <td>44</td>
                            </tr>
                            <tr class="warning">
                                <td>44LP444</td>
                                <td>50</td>
                            </tr>
                            <tr class="danger">
                                <td>12LP123</td>
                                <td>999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!------------ Table4 template end ------------>
        </div>
        <!-- Inventory row end  -->

        <div class="row">
            <!-- Where-Used information row -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Level 0</th>
                            <th>Level 1</th>
                            <th>Level 2</th>
                            <th>Level 3</th>
                            <th>Level 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <!-- Level 0 PN -->
                                00LP777
                            </td>
                            <td>
                                <!-- Level 1 PN -->
                                12D4567 <br> 14P8765 <br> 15K2345
                            </td>
                            <td>
                                <!-- Level 2 PN -->
                                12D4444 <br> 14P4444 <br> 15K4444
                            </td>
                            <td>
                                <!-- Level 3 PN -->
                                12D7777 <br> 14P7777 <br> 15K7777 <br> 25L7777 <br> 16J7777
                            </td>
                            <td>
                                <!-- Level 4 PN -->
                                12D9999 <br> 14P9999
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Where-Used information row end -->

    </div>
</div>