<div id="page-wrapper" ng-controller="SearchCtrl as ctrl">
    <div id="page-inner">
        <form id="searchForm" name="searchForm" class="form-inline" ng-submit="ctrl.search()" novalidate autocomplete="off">
            <!-- Search PN form -->
            <div class="row">
                <div class="col-md-12">
                    <h2>PN Search</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <input class="form-control" ng-model="ctrl.part_no" required>
                        <p class="help-block">Type in the Part Number to search</p>
                        <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Search PN form end -->
    </div>
</div>