<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Where-Used Information</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Level</th>
                            <th>Part Number</th>
                            <th>Description</th>
                            <th>Brand</th>
                            <th>Drawing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>00LP777</td>
                            <td>DIMM</td>
                            <td>MainFrame</td>
                            <td>www.drawing.com</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00LP123</td>
                            <td>DIMMs</td>
                            <td>MainFrame</td>
                            <td>www.drawing.com</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00LP999</td>
                            <td>Memory</td>
                            <td>Open Power</td>
                            <td>www.drawing.com</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>12LP111</td>
                            <td>Partssss</td>
                            <td>MainFrame</td>
                            <td>www.drawing.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>66LP777</td>
                            <td>Partxx</td>
                            <td>Open Power</td>
                            <td>www.drawing.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>