<div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Order Status (Summary)</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Shipment Date</th>
                            <th>Customer Name</th>
                            <th>Revenue ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>01-04-2017</td>
                            <td>Customer1</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>04-04-2017</td>
                            <td>Customer2</td>
                            <td>2,000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>01-05-2017</td>
                            <td>Customer3</td>
                            <td>3,000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>21-05-2017</td>
                            <td>Customer4</td>
                            <td>500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Row for Graphs -->
        <div class="row">
            <img src="/app/assets/img/graph1.png" />
            <img src="/app/assets/img/graph2.png" />
            <img src="/app/assets/img/graph3.png" />
        </div>
        <!-- Row for Graphs end -->

    </div>
</div>