<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <span style="display: inline;">
                <h2>Orders Information</h2>
                <hr>
                <!--<h3>Select the view to see</h3>-->
                <a ui-sref="Orders-Summary" class="btn btn-primary">Summary View</a>
                <a ui-sref="Orders-Detail" class="btn btn-primary">Detail View  </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>