<div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Order Status (Detailed)</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Shipment Date</th>
                            <th>PN</th>
                            <th>QTY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>01-04-2017</td>
                            <td>ABCD</td>
                            <td>01</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>04-04-2017</td>
                            <td>DEFG</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>01-05-2017</td>
                            <td>ABCD</td>
                            <td>02</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>21-05-2017</td>
                            <td>ABCD</td>
                            <td>01</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>