<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Admin Page</h2>
                <hr>
                <a ui-sref="User-List" class="btn btn-primary">User List</a>
                <a ui-sref="Password-List" class="btn btn-primary">Password List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>