<div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Password Update</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Query DB</th>
                            <th>ID</th>
                            <th>Password</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Manufacturing DB</td>
                            <td>BOT1</td>
                            <td><input type="text" placeholder="input new password"></td>
                            <td><i class="fa fa-trash-o"></i></td>
                        </tr>
                    </tbody>
                </table>

                <div class="input-group">
                    <span style="display: inline;">
                                <input type="submit" class="btn btn-default btn-lg" value="Save"/> 
                                <input type="button" class="btn btn-default btn-lg" value="Cancel"/>
                            </span>
                </div>

            </div>
        </div>

    </div>
</div>