<div>
    <div id="page-inner">
        <form id="loginForm" name="loginForm" class="form-inline" ng-submit="ctrl.login()" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <h2>Add Query ID & Password</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Query DB</th>
                                <th>ID</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder=" Input DB name"></td>
                                <td><input type="text" placeholder=" Input User ID"></td>
                                <td><input type="text" placeholder=" Input User password"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="input-group">
                        <span style="display: inline;">
                        <input type="submit" class="btn btn-primary" value="Save"/> 
                        <a ui-sref="Password-List" class="btn btn-primary" value="Cancel">Cancel</a>
                    </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>