<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Password List for query</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Query DB</th>
                            <th>ID</th>
                            <th>Password</th>
                            <th>Last Updated Date</th>
                            <th>Next Update Date</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Manufacturing DB</td>
                            <td>BOT1</td>
                            <td>password123</td>
                            <td>04-04-2017</td>
                            <td>04-07-2017</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>SAP DB</td>
                            <td>BOT1</td>
                            <td>password123</td>
                            <td>04-04-2017</td>
                            <td>04-07-2017</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Order DB</td>
                            <td>BOT2</td>
                            <td>password567</td>
                            <td>01-04-2017</td>
                            <td>01-07-2017</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Shipment DB</td>
                            <td>BOT2</td>
                            <td>password567</td>
                            <td>01-04-2017</td>
                            <td>01-07-2017</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a ui-sref="Admin" class="btn btn-primary">Back to Admin Page</a>
            <a ui-sref="Password-Add" class="btn btn-primary">Add New ID/Password</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>