<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>User List</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Access Level</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hafiz</td>
                            <td>hafiz@email.com</td>
                            <td>Admin</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Ah Boon</td>
                            <td>ah.boon@email.com</td>
                            <td>Admin</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Beng Teck</td>
                            <td>beng.teck@email.com</td>
                            <td>Reader</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Christian</td>
                            <td>christian@email.com</td>
                            <td>Reader</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Ira</td>
                            <td>ira@email.com</td>
                            <td>Reader</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Rei</td>
                            <td>rei@email.com</td>
                            <td>Reader</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                        <tr>
                            <td>Yong Hong</td>
                            <td>yong.hong@email.com</td>
                            <td>Reader</td>
                            <td><i class="fa fa-pencil-square-o"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <a ui-sref="Admin" class="btn btn-primary">Back to Admin Page</a>
            <a ui-sref="User-Add" class="btn btn-primary">Add New User</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ui-view></ui-view>
            </div>
        </div>

    </div>
</div>