<div>
    <div id="page-inner">
        <form id="addUserForm" name="addUserForm" class="form-inline" ng-submit="ctrl.addUser()" novalidate autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <h2>Add User</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID (Intranet Email)</th>
                                <th>Access Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder=" Input user name"></td>
                                <td><input type="text" placeholder=" Input User ID"></td>
                                <td><input type="text" placeholder=" Input User access level"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="input-group">
                        <span style="display: inline;">
                        <input type="submit" class="btn btn-primary" value="Save"/> 
                        <a ui-sref="User-List" class="btn btn-primary" value="Cancel">Cancel</a>
                    </span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>