<div id="page-wrapper">
    <div id="page-inner">
        <!------------ SGP Inventory row ------------>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>SGP Inventory</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Loc A</th>
                            <th>Loc B</th>
                            <th>Loc C</th>
                            <th>Loc D</th>
                            <th>Loc E</th>
                            <th>Loc F</th>
                            <th>Loc G</th>
                            <th>Loc H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00LP777</td>
                            <td>10</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>70</td>
                            <td>0</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>00LP999</td>
                            <td>11</td>
                            <td>0</td>
                            <td>5</td>
                            <td>8</td>
                            <td>7</td>
                            <td>10</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>12LP444</td>
                            <td>23</td>
                            <td>7</td>
                            <td>100</td>
                            <td>99</td>
                            <td>94</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>44LP444</td>
                            <td>1000</td>
                            <td>8</td>
                            <td>19</td>
                            <td>0</td>
                            <td>77</td>
                            <td>1</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------ SGP Inventory row end ------------>

        <!------------ USA Inventory row ------------>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>USA Inventory</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Loc A</th>
                            <th>Loc B</th>
                            <th>Loc C</th>
                            <th>Loc D</th>
                            <th>Loc E</th>
                            <th>Loc F</th>
                            <th>Loc G</th>
                            <th>Loc H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00LP777</td>
                            <td>10</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>70</td>
                            <td>0</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>00LP999</td>
                            <td>11</td>
                            <td>0</td>
                            <td>5</td>
                            <td>8</td>
                            <td>7</td>
                            <td>10</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>12LP444</td>
                            <td>23</td>
                            <td>7</td>
                            <td>100</td>
                            <td>99</td>
                            <td>94</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>44LP444</td>
                            <td>1000</td>
                            <td>8</td>
                            <td>19</td>
                            <td>0</td>
                            <td>77</td>
                            <td>1</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------ USA Inventory row end ------------>

        <!------------ GDL Inventory row ------------>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>GDL Inventory</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Loc A</th>
                            <th>Loc B</th>
                            <th>Loc C</th>
                            <th>Loc D</th>
                            <th>Loc E</th>
                            <th>Loc F</th>
                            <th>Loc G</th>
                            <th>Loc H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00LP777</td>
                            <td>10</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>70</td>
                            <td>0</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>00LP999</td>
                            <td>11</td>
                            <td>0</td>
                            <td>5</td>
                            <td>8</td>
                            <td>7</td>
                            <td>10</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>12LP444</td>
                            <td>23</td>
                            <td>7</td>
                            <td>100</td>
                            <td>99</td>
                            <td>94</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>44LP444</td>
                            <td>1000</td>
                            <td>8</td>
                            <td>19</td>
                            <td>0</td>
                            <td>77</td>
                            <td>1</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------ GDL Inventory row end ------------>

        <!------------ VAC Inventory row ------------>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>VAC Inventory</h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Part Number</th>
                            <th>Loc A</th>
                            <th>Loc B</th>
                            <th>Loc C</th>
                            <th>Loc D</th>
                            <th>Loc E</th>
                            <th>Loc F</th>
                            <th>Loc G</th>
                            <th>Loc H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>00LP777</td>
                            <td>10</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                            <td>70</td>
                            <td>0</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>00LP999</td>
                            <td>11</td>
                            <td>0</td>
                            <td>5</td>
                            <td>8</td>
                            <td>7</td>
                            <td>10</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>12LP444</td>
                            <td>23</td>
                            <td>7</td>
                            <td>100</td>
                            <td>99</td>
                            <td>94</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>44LP444</td>
                            <td>1000</td>
                            <td>8</td>
                            <td>19</td>
                            <td>0</td>
                            <td>77</td>
                            <td>1</td>
                            <td>19</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!------------ VAC Inventory row end ------------>

    </div>
</div>