<div id="page-wrapper">
    <div id="page-inner">
        <form id="loginForm" name="loginForm" class="form-inline" novalidate autocomplete="off" ng-submit="ctrl.login()">
            <div class="row">
                <div class="col-md-12">
                    <h2>Login</h2>
                    <h5>Using Intranet credential</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon">Intranet Email: </span>
                        <!--<input type="email" class="form-control" placeholder="email@sg.ibm.com" ng-model="ctrl.username" required>-->
                        <input type="text" class="form-control" placeholder="email@sg.ibm.com" ng-model="ctrl.username">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Password: </span>
                        <input type="password" class="form-control" ng-model="ctrl.password" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <!--<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>-->
                        <button type="button" ng-click="ctrl.login()" class="btn btn-primary">Login</button>
                    </div>
                    <br>
                    <div>
                        <p>Need an account? <a ui-sref="SignUp">Signup</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>